/* portfolio.css */

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.portfolio__container.show-projects {
    transform: translateX(-100%);
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);
}

.portfolio__item:hover {
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    height: 30%;
}

.portfolio__item h3 {
    margin: 2rem 0;
}

.portfolio__item p {
    margin: 0 0 1.2rem 0;
    font-size: 0.9rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem; 
}

.portfolio__item-content {
    height: 50%;
}

.project-navigation {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.nav-button {
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
  
@media screen and (max-width: 600px){
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}
