.calender {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  align-items: center;
}
.title {
  margin-left: 35%;
  color: #4db5ff;
}
.react-activity-calendar {
  margin-left: 3%;
  width: 100%;
}

@media (min-width: 368px) and (max-width: 1024px) {
    .react-activity-calendar {
        margin:auto;
        width: 100%;
      }
      .calender {
        margin: auto;
        margin-top: 5%;
        align-items: center;
      }
}
